.page-content { 
    background: url("wp2288190.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
  }

.header-body {
    padding-top: 50px;
    padding-bottom: 50px;

}

a {
    color: black !important;
    font-size: x-large !important;
}
a:hover {
    color: #f58659 !important;
}

nav {
    background-color: rgba(128, 126, 126, 0.7);
}

.header-text-box {
    background-color: white;
    border: 2px solid black;
    width: 60% !important;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 2em;
    color: black;
    align-content: center !important;
}
.bro{
    display: flex;
    align-items: center;
    padding-left: 27.5%;
}

.header-text-box p {
    font-size: 20px;
}
.row p {
    font-size: .6em;
}
.nonheader-body hr {
    display: block;
    margin-top:0;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(245,134,89);
  }

.nav-item {
    padding-left: 1em;
    padding-right: 1em;
}

.copyright-text{
    text-align: center;
}