.page-content { 
    background: url("wp2288190.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
  }

.header-body {
    padding-top: 50px;
    padding-bottom: 50px;

}

a {
    color: black !important;
    font-size: x-large !important;
}

nav {
    background-color: rgba(169,169,169,.5);
}

.header-text-box {
    background-color: white;
    border: 2px solid black;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 2em;
    color: black;
}

.header-text-box p {
    font-size: 20px;
}
.nonheader-body hr {
    display: block;
    margin-top:0;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
    border-color: black;
  }